.transition-all {
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 1000px; /* Arbitrary large value to allow for content expansion */
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
} 